body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 26, 26);
}

.app-toDoList {
    font-size: large;
    max-width: 800px;
    min-width: 450px;
    min-height: 500px;
    border: 2px solid black;
    margin: 100px auto;
    padding: 20px;
    background-color:rgb(231, 231, 231);
}


input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

.containerInput button {
    width: 16%;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.containerInput button:hover {
    transition: 0.5s;
    background-color: rgb(0, 67, 11);
    color: rgb(255, 255, 255);
}

.added-tasks {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.completed {
    color: rgb(178, 50, 0);
    text-decoration: line-through;
}

.fa-solid {
    color: red;
}

.delete-btn {
    border: none;
    cursor: pointer;
}

.fa-solid:hover {
    color: brown;
}

input[type="checkbox"] {
    cursor: pointer;
}